.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.About {
  background-color: #ffff;
}
#Certificate {
  background-color: #e2edff;
}
.Contact {
  background-color: #ffff;
}
section {
  padding-top: 5rem;
}
